@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background: black;
}
.rgbEffect{
    animation: color-change 12s infinite;
}
::selection {
    color: black;
    background: white;
}
@keyframes color-change {
    0% {color:#09f;}
    20% { color:#f04dff;}
    40% {color: #ff4d4d;}
    60% {color: #ffc54d;}
    80% {color: #6aed76;}
    100% {color:#09f;}
}
#resumeLink:hover .fa-sharp{
    opacity: 1;
    left: 6px;
    transition: 0.7s;
}
#resumeLink:not(:hover) .fa-sharp{
    left: 1px;
    transition: 0.7s;
}
